.dropdown {
  position: relative;
}

.dropdown__header {
  width: min-content;
  margin: 0;
  padding-right: 24px;
  cursor: pointer;
  border: none;
  color: var(--medium-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  appearance: none;
  background: url('../../images/icon-arrow-down.svg') no-repeat right;
}

@media screen and (min-width: 768px) {
  .dropdown__header {
    padding-right: 17px;
    font-size: 14px;
    line-height: 16px;
  }
}

.dropdown__header_close {
  background-image: url('../../images/icon-arrow-up.svg');
}

.dropdown__options {
  background-color: var(--white);
  width: 100%;
  min-width: 116px;
  box-sizing: border-box;
  margin: 0;
  padding: 24px;
  border: none;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .dropdown__options {
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 10px;
    box-shadow: var(--shadow);
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .dropdown__options_features {
    left: auto;
    right: 0;
    min-width: 153px;
  }
}

.dropdown__option {
  cursor: pointer;
  color: var(--medium-grey);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

@media screen and (min-width: 768px) {
  .dropdown__option {
    font-size: 14px;
    line-height: 16px;
  }
}

.dropdown__option:hover {
  color: var(--black);
}