.hero {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media screen and (min-width: 920px) {
  .hero {
    flex-direction: row-reverse;
    gap: 125px;
    padding-bottom: 30px;
  }
}

.hero__image {
  background-image: url('../../images/image-hero-mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 280px;
}

@media screen and (min-width: 920px) {
  .hero__image {
    background-image: url('../../images/image-hero-desktop.png');
    max-width: 480px;
    min-height: 640px;
  }
}

.hero__container {
  padding: 47px 16px 94px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 920px) {
  .hero__container {
    max-width: 540px;
    padding: 104px 0 0 35px;
    align-items: start;
  }
}

.hero__title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 42px; 
  letter-spacing: -0.5px;
  margin: 0 0 16px;
}

@media screen and (min-width: 920px) {
  .hero__title {
    text-align: left;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1.111px;
    margin-bottom: 48px;
  }
}

.hero__text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px; 
  margin: 0 0 24px;
  max-width: 445px;
}

@media screen and (min-width: 920px) {
  .hero__text {
    text-align: left;
    font-size: 18px;
    line-height: 28px; 
    margin-bottom: 51px;
  }
}

.hero__button {
  border-radius: 15px;
  color: var(--almost-white);
  background-color: var(--black);
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 26px;
  letter-spacing: -0.222px;
  height: 48px;
  width: 136px;
  padding: 12px 0 10px;
  margin-bottom: 48px;
}

@media screen and (min-width: 920px) {
  .hero__button {
    height: 56px;
    padding-top: 15px;
    margin-bottom: 108px;
  }
}

.hero__clients {
  height: 26px;
  width: 100%;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, min-content);
  list-style: none;
  padding-left: 0;
  gap: 28px;
  justify-content: center;
}

@media screen and (min-width: 920px) {
  .hero__clients {
    height: 36px;
    gap: 40.5px;
    justify-content: start;
  }
}

.hero__client {

  object-fit: contain;
}

.hero__client_databiz {
  width: 81.3px;
}

.hero__client_audiophile {
  width: 52.8px;
}

.hero__client_meet {
  width: 64.1px;
}

.hero__client_maker {
  width: 58.9px;
}

@media screen and (min-width: 920px) {
  .hero__client_databiz, .hero__client_audiophile, .hero__client_meet, .hero__client_maker {
    width: auto;
  }
}