.app {
    margin: 0 auto;
    min-height: 100vh;
    font-size: 18px;
    font-weight: 500;
    color: var(--black);
    background-color: var(--almost-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }