.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 16px 24px;
  box-sizing: border-box;
  flex-grow: 0;
  position: relative;
}

@media screen and (min-width: 920px) {
  .header {
    padding: 21px 40px 67px;
  }
}

.header__logo {
  width: 87px;
  height: 32px;
  margin-right: 60px;
}

.header__navigation {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__navigation {
    display: block;
    width: calc(100% - 87px - 80px);
  }
}

.header__burger {
  background-image: url('../../images/icon-menu.svg');
  width: 32px;
  height: 18px;
}