.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 16px 24px;
  box-sizing: border-box;
  flex-grow: 0;
  position: relative;
}

/* @media screen and (min-width: 768px) {
  .header {
    padding: 50px 40px;
  }
} */

.header__logo {
  width: 87px;
  height: 35px;
}

/* @media screen and (min-width: 768px) {
  .header__logo {
    width: 35px;
    height: 40px;
  }
} */

.header__burger {
  background-image: url('../../images/icon-menu.svg');
  width: 32px;
  height: 18px;
}