.navbar {
  display: none;
}

.navbar_opened {
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 1;
  background-color: var(--background-black);
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

/* @media screen and (max-width: 768px) {
  .navbar_opened {

  }
} */

.navbar__container {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 156px 0 94px;
  background-color: var(--white);
  max-width: 520px;
  width: 64%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 425px) {
  .navbar__container {
    width: 100%;
    padding: 78px 24px;
  }
}